<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    <add name="SQLMilestoneDbContext" connectionString="metadata=res://*/SqlMilestoneDb.csdl|res://*/SqlMilestoneDb.ssdl|res://*/SqlMilestoneDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-mfjmrjal;initial catalog=PROG3070_TermProjectDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>